/.idea/codeStyles/codeStyleConfig.xml
/.idea/codeStyles/Project.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/copilot.data.migration.agent.xml
/.idea/evening-gowm.iml
/.idea/modules.xml
/.idea/prettier.xml
/.idea/vcs.xml
/.vscode/settings.json
